__pycache__/
*.py[cod]
*.log
*.err.log
.DS_Store

01_*.png
03_*.png
04_*.png
05_*.png
06_*.png
fire_image*.jpg
flood_image*.jpg
collapsed_building_image*.jpg
normal_image*.jpg
deprem.jpg
fire.jpg
earthquake.jpg
maxresdefault.png.jpg
test.jpg
